<html>
<body>
  <label id = "labelid">

</label>
<br>
<br>


<br><br>
<p id = "sumValue"></p>


<form action="/redirectLogin" onsubmit="myFunction()">
      <input type="submit" value="Login">
  </form>

  <form action="/redirectRegister" onsubmit="myFunction()">
        <input type="submit" value="Register">
    </form>

  <script>
    function myFunction() {

    }
  </script>




<br>
<br>
</body>
</html>
