<html>
<body>
  <label id = "labelid">
  <%= @numUsers %> 
</label>
<br>
<br>


<br><br>
<p id = "sumValue"></p>


<form action="/simulate" onsubmit="myFunction()">
      Enter Number of Users: <input type="text" name="numUsers">
      Enter Number of Tweets: <input type="text" name="numTweets">
      <input type="submit" value="Submit">
  </form>

  <script>
    function myFunction() {

    }
  </script>




<br>
<br>
</body>
</html>
