<html>
<body>
  <label id = "labelid">

</label>
<br>
<br>


<br><br>
<p id = "sumValue"></p>


<form action="/registerUser" onsubmit="myFunction()">
      Enter UserName: <input type="text" name="userName">
      Enter Password: <input type="password" name="password">
      Enter Email: <input type="text" name="mail">
      <input type="submit" value="Register">
  </form>

  <script>
    function myFunction() {

    }
  </script>




<br>
<br>
</body>
</html>
