<html>
<body>
  <label>
  <%= @name %>
  </label>

</body>
</html>

<html>
<body>
  <%= @name %>

  <p>When you submit the form, a function is triggered which alerts some text.</p>
    <form action="/text" onsubmit="myFunction()">
      Enter name: <input type="text" name="fname">
      <input type="submit" class="btn btn-primary btn-lg" value="Submit">
  </form>

  <script>
    function myFunction() {

    }
  </script>

</body>
</html>
